<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-block" style="font-size: large; font-weight: bold; color: #fff; background-color: #24b755;">
				<div class="col-md-1">Filter:</div>
				<div class="col-md-2" style="cursor: pointer;">
					<a ng-click="sort('PAYER')">
						<span class="fa fa-sort-alpha-asc" aria-hidden="true" ng-show="!reverseSort"></span>
						<span class="fa fa-sort-alpha-desc" aria-hidden="true" ng-show="reverseSort"></span>&nbsp;
						By Bill Payer
						<span class="fa fa-sort-desc" aria-hidden="true" ng-show="!reverseSort"></span>
						<span class="fa fa-sort-asc" aria-hidden="true" ng-show="reverseSort"></span>
					</a>
				</div>
				<div class="col-md-2" style="cursor: pointer;">
					<a ng-click="sort('BILLDATE')">
						<span class="fa fa-calendar" aria-hidden="true" ng-show="!reverseSort"></span>
						<span class="fa fa-calendar" aria-hidden="true" ng-show="reverseSort"></span>&nbsp;
						By Date
						<span class="fa fa-sort-desc" aria-hidden="true" ng-show="!reverseSort"></span>
						<span class="fa fa-sort-asc" aria-hidden="true" ng-show="reverseSort"></span>
					</a>
				</div>				
				<div class="col-md-2"></div>
				<div class="col-md-3" style="color: black;">
					<label >Search:</label>&nbsp;&nbsp;&nbsp;&nbsp;
            		<input type="text" ng-model="search" class="" placeholder=" Search">
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-block">
			<div class="table-responsive">
				<table class="table table-hover table-outline m-b-0 hidden-sm-down">
					<thead class="thead-default" style="font-size: large; font-weight: bold;">
						<tr>
							<th class="text-center">Bill Payer</th>
							<th class="text-center">Date of Payment</th>
							<th class="text-center">Paid Amount</th>
							<th class="text-center">Arnab</th>
							<th class="text-center">Bipra</th>
							<th class="text-center">Saurav</th>
							<th class="text-center">Sayan</th>
							<th class="text-center">Tanmoy</th>
							<th>Description</th>
							<th></th>
						</tr>
					</thead>
					<tbody  class="black">
						<tr dir-paginate="data in bills.data | orderBy:sortKey:reverseSort | filter:search | itemsPerPage:10">
							<!-- show-->
							<td ng-hide="edited === $index" class="text-center" ng-class="black">{{data.PAYER}}</td>
							<td ng-hide="edited === $index" class="text-center">
								<span class="label label-primary" style="font-size: inherit;">{{data.BILLDATE | date : "dd-MMM-yyyy"}}</span>
							</td>
							<td ng-hide="edited === $index" class="text-center" ng-class="black">₹ {{data.AMOUNT}}</td>
							<td ng-hide="edited === $index" class="text-center" ng-class="black">₹ {{data.ARNAB}}</td>
							<td ng-hide="edited === $index" class="text-center" ng-class="black">₹ {{data.BIPRA}}</td>
							<td ng-hide="edited === $index" class="text-center" ng-class="black">₹ {{data.SAURAV}}</td>
							<td ng-hide="edited === $index" class="text-center" ng-class="black">₹ {{data.SAYAN}}</td>
							<td ng-hide="edited === $index" class="text-center" ng-class="black">₹ {{data.TANMOY}}</td>
							<td ng-hide="edited === $index" class="orange">{{data.BILLDESC}}</td>
							<td ng-hide="edited === $index" ng-class="black">
								<button class="btn btn-primary" type="button" ng-click="edit($index)">Edit</button>
								<button class="btn btn-danger" type="button" ng-click="remove(data,$index)">Delete</button>
							</td>
							<!-- edit-->
							<td ng-show="edited === $index" class="text-center">{{data.PAYER}}</td>
							<td ng-show="edited === $index" class="text-center">
								<div class="input-group" moment-picker="billupdate.billdate" format="YYYY-MM-DD" start-view="day">
									<span class="input-group-addon">
										<i class="glyphicon glyphicon-calendar"></i>
									</span>
									<input class="form-control" placeholder="{{data.BILLDATE | date : 'dd-MMM-yyyy'}}" ng-model="billupdate.billdate" ng-model-options="{ updateOn: 'blur' }" style="color: #000;">
								</div>
							</td>
							<td ng-show="edited === $index" class="text-center">{{data.BILLDATE | date : 'MMM'}}</td>
							<td ng-show="edited === $index" class="text-center"><input type="number" class="form-control" ng-model="billupdate.amount" value="{{data.AMOUNT}}" style="color: #000;"></td>
							<td ng-show="edited === $index" class="text-center"><input type="number" class="form-control" ng-model="billupdate.arnab" value="{{data.ARNAB}}" style="color: #000;"></td>
							<td ng-show="edited === $index" class="text-center"><input type="number" class="form-control" ng-model="billupdate.bipra" value="{{data.BIPRA}}" style="color: #000;"></td>
							<td ng-show="edited === $index" class="text-center"><input type="number" class="form-control" ng-model="billupdate.saurav" value="{{data.SAURAV}}" style="color: #000;"></td>
							<td ng-show="edited === $index" class="text-center"><input type="number" class="form-control" ng-model="billupdate.sayan" value="{{data.SAYAN}}" style="color: #000;"></td>
							<td ng-show="edited === $index" class="text-center"><input type="number" class="form-control" ng-model="billupdate.tanmoy" value="{{data.TANMOY}}" style="color: #000;"></td>
							<td ng-show="edited === $index"><textarea class="form-control" id="desc" ng-model="billupdate.billdesc" rows="3" ng-init="billupdate.billdesc=data.BILLDESC" style="color: #000;"></textarea></td>
							<td ng-show="edited === $index">
								<button class="btn btn-success" type="button" ng-click="updateEdit(data,billupdate)">Save</button>
								<button class="btn btn-danger" type="button" ng-click="close()">Cancel</button>
							</td>
						</tr>
					</tbody>
				</table>
				<dir-pagination-controls
			       max-size="10"
			       direction-links="true"
			       boundary-links="true" >
			    </dir-pagination-controls>
			</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" style="font-weight: bold; background-color: #24b755; text-align: center; color: #fff;">
				<span  style="font-size: x-large;">Individual Bill</span>
			</div>
			<div class="card-block">
				<div class="col-md-4">
					<table class="table table-hover table-bordered table-outline m-b-0 hidden-sm-down">
						<thead class="thead-default" style="font-size: large; font-weight: bold;">
							<tr>
								<th class="text-center">Roommate</th>
								<th class="text-center">Receive</th>
								<th class="text-center">Pay</th>
							</tr>
						</thead>
						<tbody class="black">
							<tr>
								<td class="text-center">Arnab</td>
								<td class="text-center" style="color: rgb(71, 233, 75);">₹ {{arnabRECEIVE}}</td>
								<td class="text-center" style="color: red">₹ {{arnabPAY}}</td>
							</tr>
							<tr>
								<td class="text-center">Bipra</td>
								<td class="text-center" style="color: rgb(71, 233, 75);">₹ {{bipraRECEIVE}}</td>
								<td class="text-center" style="color: red">₹ {{bipraPAY}}</td>
							</tr>
							<tr>
								<td class="text-center">Saurav</td>
								<td class="text-center" style="color: rgb(71, 233, 75);">₹ {{sauravRECEIVE}}</td>
								<td class="text-center" style="color: red">₹ {{sauravPAY}}</td>
							</tr>
							<tr>
								<td class="text-center">Sayan</td>
								<td class="text-center" style="color: rgb(71, 233, 75);">₹ {{sayanRECEIVE}}</td>
								<td class="text-center" style="color: red">₹ {{sayanPAY}}</td>
							</tr>
							<tr>
								<td class="text-center">Tanmoy</td>
								<td class="text-center" style="color: rgb(71, 233, 75);">₹ {{tanmoyRECEIVE}}</td>
								<td class="text-center" style="color: red">₹ {{tanmoyPAY}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-8">
					<table class="table table-hover table-bordered table-outline m-b-0 hidden-sm-down">
						<thead class="thead-default" style="font-size: large; font-weight: bold;">
							<tr>
								<th class="text-center">Payee</th>
								<th class="text-center">Arnab</th>
								<th class="text-center">Bipra</th>
								<th class="text-center">Saurav</th>
								<th class="text-center">Sayan</th>
								<th class="text-center">Tanmoy</th>
							</tr>
						</thead>
						<tbody class="black">
							<tr>
								<td class="text-center">Arnab</td>
								<td class="text-center">₹ {{arnabDUE1}}</td>
								<td class="text-center">₹ {{bipraDUE1}}</td>
								<td class="text-center">₹ {{sauravDUE1}}</td>
								<td class="text-center">₹ {{sayanDUE1}}</td>
								<td class="text-center">₹ {{tanmoyDUE1}}</td>
							</tr>
							<tr>
								<td class="text-center">Bipra</td>
								<td class="text-center">₹ {{arnabDUE2}}</td>
								<td class="text-center">₹ {{bipraDUE2}}</td>
								<td class="text-center">₹ {{sauravDUE2}}</td>
								<td class="text-center">₹ {{sayanDUE2}}</td>
								<td class="text-center">₹ {{tanmoyDUE2}}</td>
							</tr>
							<tr>
								<td class="text-center">Saurav</td>
								<td class="text-center">₹ {{arnabDUE3}}</td>
								<td class="text-center">₹ {{bipraDUE3}}</td>
								<td class="text-center">₹ {{sauravDUE3}}</td>
								<td class="text-center">₹ {{sayanDUE3}}</td>
								<td class="text-center">₹ {{tanmoyDUE3}}</td>
							</tr>
							<tr>
								<td class="text-center">Sayan</td>
								<td class="text-center">₹ {{arnabDUE4}}</td>
								<td class="text-center">₹ {{bipraDUE4}}</td>
								<td class="text-center">₹ {{sauravDUE4}}</td>
								<td class="text-center">₹ {{sayanDUE4}}</td>
								<td class="text-center">₹ {{tanmoyDUE4}}</td>
							</tr>
							<tr>
								<td class="text-center">Tanmoy</td>
								<td class="text-center">₹ {{arnabDUE5}}</td>
								<td class="text-center">₹ {{bipraDUE5}}</td>
								<td class="text-center">₹ {{sauravDUE5}}</td>
								<td class="text-center">₹ {{sayanDUE5}}</td>
								<td class="text-center">₹ {{tanmoyDUE5}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="col-md-4" >
		<div class="card">
			<div class="card-header" style="background-color: #ed1f24; text-align: center; color: whitesmoke;">
				<span  style="font-size: x-large;">Widget</span>
			</div>
			<div class="card-block" style="background-color: antiquewhite;">
				<ds-widget-clock theme="theme" digital-format="format"></ds-widget-clock>
				<ds-widget-clock show-digital theme="blue-light" digital-format="'hh:mm:ss a'"></ds-widget-clock>
				<ds-widget-clock show-analog theme="blue-light"></ds-widget-clock>
			</div>
		</div>
	</div> -->
</div>