<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-block" style="font-size: large; font-weight: bold; color: #fff; background-color: #24b755;">
				<div class="col-md-1">Sort By:</div>
				<div class="col-md-2" style="cursor: pointer;">
					<a ng-click="sort('PAYER')">
						<span class="fa fa-sort-alpha-asc" aria-hidden="true" ng-show="!reverseSort"></span>
						<span class="fa fa-sort-alpha-desc" aria-hidden="true" ng-show="reverseSort"></span>&nbsp;
						Payer
						<span class="fa fa-sort-desc" aria-hidden="true" ng-show="!reverseSort"></span>
						<span class="fa fa-sort-asc" aria-hidden="true" ng-show="reverseSort"></span>
					</a>
				</div>
				<div class="col-md-2" style="cursor: pointer;">
					<a ng-click="sort('BILLDATE')">
						<span class="fa fa-calendar" aria-hidden="true" ng-show="!reverseSort"></span>
						<span class="fa fa-calendar" aria-hidden="true" ng-show="reverseSort"></span>&nbsp;
						Date
						<span class="fa fa-sort-desc" aria-hidden="true" ng-show="!reverseSort"></span>
						<span class="fa fa-sort-asc" aria-hidden="true" ng-show="reverseSort"></span>
					</a>
				</div>
				<div class="col-md-3" style="color: black;">
					<span class="search-icon"><img src="images/Search icon.png" class="small-img" ></span>
            		<input type="text" ng-model="search" class="form-control" placeholder="Search..." style="color: black; padding-left: 32px;">
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-3">
					<button class="btn btn-primary buttonStyle" type="button" ng-click="openAddBillModal()">Add Bill</button>
					<button class="btn btn-primary buttonStyle" type="button" ng-click="openNotelModal()">Note</button>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-block" ng-if="responseDataLength === 0">
				<div class="red" style="text-align: center;">No bill added yet. Please add bills using ADD BILL button.</div>
			</div>
			<div class="card-block" ng-if="responseDataLength>0">
				<div class="table-responsive">
					<table class="table table-hover table-outline m-b-0 hidden-sm-down">
						<thead class="thead-default" style="font-size: large; font-weight: bold;">
							<tr>
								<th class="text-center">Bill Payer</th>
								<th class="text-center">Date</th>
								<th class="text-center">Paid</th>
								<th class="text-center">Arnab</th>
								<th class="text-center">Anupam</th>
								<th class="text-center">Subhasis</th>
								<th class="text-center">Debu</th>
								<th class="text-center">Tanmoy</th>
								<th class="text-center">Surajit</th>
								<th>Description</th>
								<th></th>
							</tr>
						</thead>
						<tbody  class="black">
							<tr dir-paginate="data in bills.data | orderBy:sortKey:reverseSort | filter:search | itemsPerPage:10" ng-class="{'modified':data.MODIFIED_DATE !== null}">
								<!-- show-->
								<td ng-hide="edited === $index" class="text-center" ng-class="black">{{data.PAYER}}</td>
								<td ng-hide="edited === $index" class="text-center">
									<span class="label label-primary primary" style="font-size: inherit;">{{data.BILLDATE | date : "dd-MMM-yy"}}</span>
								</td>
								<td ng-hide="edited === $index" class="text-center" ng-class="black">₹ {{data.AMOUNT}}</td>
								<td ng-hide="edited === $index" class="text-center" ng-class="black">₹ {{data.ARNAB}}</td>
								<td ng-hide="edited === $index" class="text-center" ng-class="black">₹ {{data.ANUPAM}}</td>
								<td ng-hide="edited === $index" class="text-center" ng-class="black">₹ {{data.SUBHASIS}}</td>
								<td ng-hide="edited === $index" class="text-center" ng-class="black">₹ {{data.DEBU}}</td>
								<td ng-hide="edited === $index" class="text-center" ng-class="black">₹ {{data.TANMOY}}</td>
								<td ng-hide="edited === $index" class="text-center" ng-class="black">₹ {{data.SURAJIT}}</td>
								<td ng-hide="edited === $index" class="orange">{{data.BILLDESC}}</td>
								<td ng-hide="edited === $index" ng-class="black">
									<button class="btn btn-primary info buttonStyle" type="button" ng-click="edit($index)" uib-tooltip="Edit"><span class="glyphicon glyphicon-pencil"></span></button>
									<button class="btn btn-info buttonStyle" type="button" ng-click="openBillDetailsModal(data)" uib-tooltip="Details"><i class="fa fa-info-circle fa-lg" aria-hidden="true"></i></button>
									<button class="btn btn-danger danger buttonStyle" type="button" ng-click="remove(data,$index)" uib-tooltip="Delete"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button>
								</td>
								<!-- edit-->
								<td ng-show="edited === $index" class="text-center">{{data.PAYER}}</td>
								<td ng-show="edited === $index" class="text-center">
									<span class="label label-primary primary" style="font-size: inherit;">{{data.BILLDATE | date : "dd-MMM-yy"}}</span>
								</td>
								<td ng-show="edited === $index" class="text-center"><input type="number" class="form-control" ng-model="billupdate.amount" value="{{data.AMOUNT}}" style="color: #000;"></td>
								<td ng-show="edited === $index" class="text-center"><input type="number" class="form-control" ng-model="billupdate.arnab" value="{{data.ARNAB}}" style="color: #000;"></td>
								<td ng-show="edited === $index" class="text-center"><input type="number" class="form-control" ng-model="billupdate.bipra" value="{{data.ANUPAM}}" style="color: #000;"></td>
								<td ng-show="edited === $index" class="text-center"><input type="number" class="form-control" ng-model="billupdate.saurav" value="{{data.SUBHASIS}}" style="color: #000;"></td>
								<td ng-show="edited === $index" class="text-center"><input type="number" class="form-control" ng-model="billupdate.sayan" value="{{data.DEBU}}" style="color: #000;"></td>
								<td ng-show="edited === $index" class="text-center"><input type="number" class="form-control" ng-model="billupdate.tanmoy" value="{{data.TANMOY}}" style="color: #000;"></td>
								<td ng-show="edited === $index" class="text-center"><input type="number" class="form-control" ng-model="billupdate.surajit" value="{{data.SURAJIT}}" style="color: #000;"></td>
								<td ng-show="edited === $index"><textarea class="form-control" id="desc" ng-model="billupdate.billdesc" rows="3" ng-init="billupdate.billdesc=data.BILLDESC" style="color: #000;"></textarea></td>
								<td ng-show="edited === $index">
									<button class="btn btn-success success buttonStyle" type="button" ng-click="updateEdit(data,billupdate)" uib-tooltip="Save"><i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i></button>
									<button class="btn btn-warning warning buttonStyle" type="button" ng-click="close()" uib-tooltip="Cancel"><i class="fa fa-times fa-lg" aria-hidden="true"></i></button>
								</td>
							</tr>
						</tbody>
					</table>
					<dir-pagination-controls
					max-size="10"
					direction-links="true"
					boundary-links="true" >
					</dir-pagination-controls>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" style="font-weight: bold; background-color: #24b755; text-align: center; color: #fff;">
				<span  style="font-size: x-large;">Individual Bill</span>
			</div>
			<div class="card-block">
				<div class="col-md-4">
					<table class="table table-hover table-bordered table-outline m-b-0 hidden-sm-down">
						<thead class="thead-default" style="font-size: large; font-weight: bold;">
							<tr>
								<th class="text-center">Roommate</th>
								<th class="text-center">Receive</th>
								<th class="text-center">Pay</th>
							</tr>
						</thead>
						<tbody class="black">
							<tr>
								<td class="text-center">Arnab</td>
								<td class="text-center" style="color: rgb(71, 233, 75);">₹ {{arnabRECEIVE}}</td>
								<td class="text-center" style="color: red">₹ {{arnabPAY}}</td>
							</tr>
							<tr>
								<td class="text-center">Anupam</td>
								<td class="text-center" style="color: rgb(71, 233, 75);">₹ {{bipraRECEIVE}}</td>
								<td class="text-center" style="color: red">₹ {{bipraPAY}}</td>
							</tr>
							<tr>
								<td class="text-center">Subhasis</td>
								<td class="text-center" style="color: rgb(71, 233, 75);">₹ {{sauravRECEIVE}}</td>
								<td class="text-center" style="color: red">₹ {{sauravPAY}}</td>
							</tr>
							<tr>
								<td class="text-center">Debu</td>
								<td class="text-center" style="color: rgb(71, 233, 75);">₹ {{sayanRECEIVE}}</td>
								<td class="text-center" style="color: red">₹ {{sayanPAY}}</td>
							</tr>
							<tr>
								<td class="text-center">Tanmoy</td>
								<td class="text-center" style="color: rgb(71, 233, 75);">₹ {{tanmoyRECEIVE}}</td>
								<td class="text-center" style="color: red">₹ {{tanmoyPAY}}</td>
							</tr>
							<tr>
								<td class="text-center">Surajit</td>
								<td class="text-center" style="color: rgb(71, 233, 75);">₹ {{surajitRECEIVE}}</td>
								<td class="text-center" style="color: red">₹ {{surajitPAY}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-8">
					<table class="table table-hover table-bordered table-outline m-b-0 hidden-sm-down">
						<thead class="thead-default" style="font-size: large; font-weight: bold;">
							<tr>
								<th class="text-center">Payee</th>
								<th class="text-center">Arnab</th>
								<th class="text-center">Anupam</th>
								<th class="text-center">Subhasis</th>
								<th class="text-center">Debu</th>
								<th class="text-center">Tanmoy</th>
								<th class="text-center">Surajit</th>
							</tr>
						</thead>
						<tbody class="black">
							<tr>
								<td class="text-center">Arnab</td>
								<td class="text-center">₹ {{arnabDUE1}}</td>
								<td class="text-center">₹ {{bipraDUE1}}</td>
								<td class="text-center">₹ {{sauravDUE1}}</td>
								<td class="text-center">₹ {{sayanDUE1}}</td>
								<td class="text-center">₹ {{tanmoyDUE1}}</td>
								<td class="text-center">₹ {{surajitDUE1}}</td>
							</tr>
							<tr>
								<td class="text-center">Anupam</td>
								<td class="text-center">₹ {{arnabDUE2}}</td>
								<td class="text-center">₹ {{bipraDUE2}}</td>
								<td class="text-center">₹ {{sauravDUE2}}</td>
								<td class="text-center">₹ {{sayanDUE2}}</td>
								<td class="text-center">₹ {{tanmoyDUE2}}</td>
								<td class="text-center">₹ {{surajitDUE2}}</td>
							</tr>
							<tr>
								<td class="text-center">Subhasis</td>
								<td class="text-center">₹ {{arnabDUE3}}</td>
								<td class="text-center">₹ {{bipraDUE3}}</td>
								<td class="text-center">₹ {{sauravDUE3}}</td>
								<td class="text-center">₹ {{sayanDUE3}}</td>
								<td class="text-center">₹ {{tanmoyDUE3}}</td>
								<td class="text-center">₹ {{surajitDUE3}}</td>
							</tr>
							<tr>
								<td class="text-center">Debu</td>
								<td class="text-center">₹ {{arnabDUE4}}</td>
								<td class="text-center">₹ {{bipraDUE4}}</td>
								<td class="text-center">₹ {{sauravDUE4}}</td>
								<td class="text-center">₹ {{sayanDUE4}}</td>
								<td class="text-center">₹ {{tanmoyDUE4}}</td>
								<td class="text-center">₹ {{surajitDUE4}}</td>
							</tr>
							<tr>
								<td class="text-center">Tanmoy</td>
								<td class="text-center">₹ {{arnabDUE5}}</td>
								<td class="text-center">₹ {{bipraDUE5}}</td>
								<td class="text-center">₹ {{sauravDUE5}}</td>
								<td class="text-center">₹ {{sayanDUE5}}</td>
								<td class="text-center">₹ {{tanmoyDUE5}}</td>
								<td class="text-center">₹ {{surajitDUE5}}</td>
							</tr>
							<tr>
								<td class="text-center">Surajit</td>
								<td class="text-center">₹ {{arnabDUE6}}</td>
								<td class="text-center">₹ {{bipraDUE6}}</td>
								<td class="text-center">₹ {{sauravDUE6}}</td>
								<td class="text-center">₹ {{sayanDUE6}}</td>
								<td class="text-center">₹ {{tanmoyDUE6}}</td>
								<td class="text-center">₹ {{surajitDUE6}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="col-md-4" >
		<div class="card">
			<div class="card-header" style="background-color: #ed1f24; text-align: center; color: whitesmoke;">
				<span  style="font-size: x-large;">Widget</span>
			</div>
			<div class="card-block" style="background-color: antiquewhite;">
				<ds-widget-clock theme="theme" digital-format="format"></ds-widget-clock>
				<ds-widget-clock show-digital theme="blue-light" digital-format="'hh:mm:ss a'"></ds-widget-clock>
				<ds-widget-clock show-analog theme="blue-light"></ds-widget-clock>
			</div>
		</div>
	</div> -->
</div>
<div class="overlay">
	<div class="loader"></div>
</div>